body{
  background: #fff;
}
.experience {
  background: url("../../../../public/assets/images/work-1600.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.moto {
  background: url("../../../../public/assets/images/banner-bottom-1600.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.soundText {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.soundBtn {
  position: absolute;
  width: 28px;
  height: 65px;
  background: white;
  border-radius: 100vmax;
  z-index: 0;
  /* border: 1px solid rgba(255, 0, 0, 0.164); */
}
.app {
  height: 100%;
  width: 100%;
  flex-direction: row;
  display: flex;
}

.dot {
  z-index: 100;
  top: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgba(126, 8, 8, 0.856);
}
.dot::before {
  position: relative;
  bottom: -28px;
  transform: rotate(-90deg);
  content: "Off";
  color: black;
  font-size: 13px;
}

.custom-text1 {
  /* position: relative; */
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(139, 139, 139);
  color: red;
  font-family: hertical;
  letter-spacing: -1px;
}

.custom-text2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(139, 139, 139);
  font-family: hertical;
  letter-spacing: -1px;
  position: absolute;
}

.cursor {
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.main {
  display: flex;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* height: 100%; */
  width: 100vw;
  /* position: absolute; */
}

.main .my-info {
  width: 50%;
  color: #b7ab98;
  font-family: hertical;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
  /* margin-left: 0px; */
}
.main .my-info .casual-greeting {
  text-align: start;
}
.main .my-info .name {
  font-family: mandala;
}

.mask,
.body {
  /* padding: 0 12%; */
  width: 50%;
  height: 100vh;
  color: #afa18f;
  font-size: 50px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mask p, .body p {
  width: 50%;
}
.mask .visual-text, .body .visual-text {
  font-size: 120px;
  font-family: "hertical", sans-serif;
  color: #b7ab98;
  text-align: center;
  /* height: 100%; */
  line-height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  /* flex-wrap: wrap; */;
}

.mask, .mask-about {
  -webkit-mask-image: url("../../../../public/mask.svg");
          mask-image: url("../../../../public/mask.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 30px;
          mask-size: 30px;
  background: #ec4e39;
  position: absolute;
  color: black;
}
.mask .hidden-text {
  margin-top: 100px;
  font-size: 120px;
  font-family: "hertical", sans-serif;
  color: #000;
  text-align: center;
  /* height: 100%; */
  line-height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
 
}

.home {
  position: relative;
}

.video-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1000;
  /* opacity: 0.2; */
}/*# sourceMappingURL=custom.css.map */

.red{
  color: #ec4e39;
}
.and{
  color:#ec4e39 ;
  font-size: 25px;
}

.left{
  color: black;
}
/* left side css */
.left-menu{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100svh;
   position: fixed;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   z-index: 10000;
   
}
.logo-div .logo{
  color: #afa18f;
  font-size: 40px;
}
.social-media-icons{
display: flex;
flex-direction: column;

}
.social-media-icons .icon{
  font-size: 25px;
  color: #b7ab98;
  transition: color 0.3s ease;
  margin: 15px 0;
  cursor: pointer;

}
.center-section{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* right side css` */
.right-menu{
  display: flex;
  flex-direction: column;
  height: 100svh;
  position: fixed;
  right: 0;
  padding: 20px 20px 20px 0;
  justify-content: space-between;
  z-index: 10000;
}
.right-menu .menu-icon .icon{
  font-weight: bolder;
  margin: 0;
  font-size: 35px;
  color: #555350;
  transition: color 0.3s ease;
  cursor: pointer;
}
/* about Page css */
.about-page{
height: 100vh !important;
}
.mask-about,
.body-about {
  color: #afa18f;
  font-size: 50px;
  cursor: default;
}
.main-about {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12%;
}
.mask-about
.hidden-text-about {
  font-size: 50px;
  font-family:lemon-sake;
  color: #000;
  line-height: 85%;
 font-weight: bolder;
}
.body-about .visual-text-about  {
  font-size: 60px;
  font-family: lemon-sake;
  color: #b7ab98;
  font-weight: bolder;
}

.body-about .my-info-about {
  color: #afa18f;
  font-family: hertical;
  font-size: 15px;
  letter-spacing:5px;
  font-weight: bolder;
  text-align: start;
  padding-bottom: 10px;
}
/* .mask-about .my-info-about .casual-greeting-about {
  text-align: start;
} */

/* skill section css */
.container {
  height: 100vh;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerText {
  text-align: center;
}

.mainTitle {
  color: #e53e3e; /* red-700 */
  font-family: 'Hertical', sans-serif;
  font-size: 40px;
}

.subTitle {
  color: #d1d5db; /* gray-300 */
  font-family: 'Hertical', sans-serif;
  font-size: 30px;
}

.highlightText {
  color: #14b8a6; /* teal-300 */
}

.masteryText {
  color: #14b8a6; /* teal-300 */
  font-family: 'Mandala', sans-serif;
  font-size: 25px;
}

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
}

.skillItem {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.skillImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.resume-btn{
  width: 240px;
  height: 80px;
  font-size: 20px;
  font-family: hertical;
  color: #e53e3e;
  background-color:#b7ab98 ;
}

/* experience section */
.container-experience {
  /* background-color: black; */
  color: #afa18f;
}

.experienceSection {
  height: 100vh;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.experienceTitle {
  font-family: 'Hertical', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 10px;
}

.experienceDescription {
  font-size: 65px;
  font-weight: lighter;
  /* font-family: creamy-sugary; */
  font-family: lemon-sake;
  line-height: 120%;
  padding-top: 20px;
  text-transform: capitalize;
}

.highlightText {
  color: #f87171;
}

.historySection {
  position: absolute;
  bottom: 20px;
}

.historyTitle {
  font-family: 'Hertical', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.workHistorySection {
  height: 100vh;
}

.workHistoryItem {
  display: flex;
  /* border-bottom: 1px solid rgba(231, 76, 60, 0.5); */
  padding: 20px 15%;
  width: 100%;
  font-family: creamy-sugary;
}

.date {
  width: 20%;
  padding-top: 20px;
  /* font-family: '; */
  font-size: 25px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile {
  /* font-family: 'Ganeta2', sans-serif; */
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1.2px;
}

.organization {
  /* font-family: 'Marcellus', serif; */
  font-size: 25px;
}

.location {
  /* font-family: 'Marcellus', serif; */
  text-transform: capitalize;
  font-size: 15px;
  color: #61605f;
}

/* contact page  */
/* .contact-Section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
.header {
  font-size: 45px;
  color: white;
  font-family: 'Hertical', sans-serif;
  line-height: 90%;
}

.header .highlight {
  font-weight: bold;
  color: #e53e3e; 
}

.header .subHeader {
  font-size: 35px;
}

.contactInfo {
  display: flex;
  width: 100%;
}

.contactDetails {
  width:40%;
  font-family: 'Serif', sans-serif;
  font-weight: light;
}

.contactDetails address {
  color: white;
  font-size: 15px;
  padding-top: 2px;
}

.contactDetails .address {
  padding-bottom: 3px;
}

.message {
  width: 70%;
}

.messageText {
  color: white;
  font-size: 30px;
  font-family: 'Ganeta', sans-serif;
  white-space: pre-wrap;
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  font-family: 'Hertical', sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.form input {
  width: 42%;
  height: 50px;
}

.form input.email {
  margin-left: 100px;
}

.form textarea {
  width: 100%;
  height: 50px;
  min-height: 100px;
  max-height: 200px;
  margin-top: 5%;
}

.submitButton {
  width: 20%;
  height: 50px;
  margin-top: 3%;
  background-color: #e53e3e; 
  color: white;
  border-radius: 9999px;
  font-family: 'Hertical', sans-serif;
  font-size: 15px;
  cursor: pointer;
} */

/* timeline page */
/* styles.css */

/* Base styles */
.font-hertical {
  font-family: 'Your Font Name', sans-serif; /* Replace with your desired font */
}

/* TimelineItem component styles */

body{
  background-color: #000;
}

.timeline-container {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  padding: 2% 0;
}

.timeline-header {
  display: flex;
  justify-content: center;
  height: 100%;
  position: absolute;
  padding: 0 15%;
}

.timeline-header-text {
  font-family: 'Hertical', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 10px;
  color: #fff;
}

.timeline-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0 5%;
  position: relative;
}

.timeline-left-content {
  width: 45%;
  display: flex;
}

.timeline-number-container {
  width: 31%;
}

.timeline-large-number {
  font-size: 950px;
  color: #854d0e;
  font-family: 'Ganeta2', sans-serif;
  font-weight: 900;
  line-height: 80%;
  position: absolute;
  padding-left: 15%;
  padding-top: 2%;
}

.timeline-intro-content {
  color: #fff;
  width: 50%;
  position: relative;
  top: 35%;
  opacity: 0.65;
}

.timeline-intro-header {
  padding-bottom: 3px;
}

.timeline-intro-label {
  display: flex;
  padding-bottom: 10px;
  margin-left: -20px;
}

.timeline-intro-text {
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.2em;
  transform: rotate(-90deg);
  padding-top: 12px;
  font-family: 'Hertical', sans-serif;
}

.timeline-intro-number {
  transform: rotate(-90deg);
  font-weight: bold;
  font-family: 'Frosty', sans-serif;
}

.timeline-intro-title {
  font-size: 16px;
  font-family: 'Hertical', sans-serif;
}

.timeline-intro-description {
  font-size: 20px;
  font-family: 'Ganeta', sans-serif;
}

.timeline-scroll-hint {
  padding-top: 40%;
}

.timeline-scroll-text {
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  padding-bottom: 8px;
  font-family: 'Hertical', sans-serif;
}

.timeline-scroll-arrow {
  font-size: 50px;
}

.timeline-scroll-arrow-image {
  height: 100%;
  width: 10%;
  transform: rotate(180deg);
  margin-left: -15px;
}

.timeline-right-content {
  width: 55%;
  padding-top: 80px;
}

.timeline-title-first {
  font-family: 'Hertical', sans-serif;
  color: #fff;
  font-size: 160px;
  text-transform: uppercase;
  padding-left: 19%;
}

.timeline-title-second {
  font-family: 'Hertical', sans-serif;
  color: #fff;
  font-size: 170px;
  text-transform: uppercase;
  position: absolute;
  z-index: 0;
  margin-top: -65px;
  padding-left: 40px;
}

.timeline-project-frame {
  width: 690px;
  position: absolute;
  z-index: 30;
  right: 15%;
  height: 420px;
  opacity: 0.7;
  border-radius: 12px;
  border: 1px solid #fb923c;
  top: 43%;
  background-color: #c2410c;
}

/* Additional styles for even-indexed sections */
.timeline-even-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0 5%;
  position: relative;
}

.timeline-even-left-content {
  width: 55%;
  margin-top: 50px;
}

.timeline-even-title-first {
  font-family: 'Hertical', sans-serif;
  color: #fff;
  font-size: 170px;
  text-transform: uppercase;
  padding-left: 125px;
}

.timeline-even-title-second {
  font-family: 'Hertical', sans-serif;
  color: #fff;
  font-size: 150px;
  text-transform: uppercase;
  position: absolute;
  z-index: 0;
  margin-top: -65px;
  padding-left: 40px;
}

.timeline-even-project-frame {
  width: 720px;
  position: absolute;
  z-index: 30;
  left: 260px;
  height: 450px;
  opacity: 0.9;
  border-radius: 12px;
  border: 1px solid #fb923c;
  top: 28%;
  background-color: #fed7aa;
}

.timeline-even-right-content {
  width: 45%;
  display: flex;
}

.timeline-even-number-container {
  margin-top: -70px;
  width: 31%;
}

.timeline-even-large-number {
  font-size: 1050px;
  color: #854d0e;
  font-family: 'Ganeta2', sans-serif;
  font-weight: 900;
  line-height: 80%;
  position: absolute;
}

.timeline-even-intro-content {
  color: #fff;
  width: 50%;
  position: relative;
  top: 39%;
  opacity: 0.65;
}

.timeline-even-intro-description {
  font-size: 18px;
  font-family: 'Marcellus', serif;
}
/* download file btn */


/* 
.timeline-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.timeline-sections-wrapper {
  height: 100vh;
}

.timeline-section,
.timeline-even-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Add any additional styles you need for your layout */
.loader{
  height: 100vh;
  width: 100%;
  display: flex;
  background: green;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.loader1, .loader2, .loader3, .loader4, .loader5{
  position: absolute;
}


