.work {
    // height: 100vh;
    width: 100%;
    background: #000000;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    // height: 80vh;

    Header {
        height: 100%;
    }

    .tittle {
        margin-top: 0px;
        font-family: hertica;
        color: #828282;
        text-align: center;
        font-size: 40px;

    }

    .tittle .color {
        color: #c70039;
    }

    .subHeading {
        margin-top: -20px;
        margin-bottom: 20px;
        font-family: mandala;
        color: cyan;
        text-align: center;
        font-size: 25px;
    }

    .content {
        // background: #ffffff;
        // margin: 150px 0 0 0;

        // height: 100%;
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: auto auto auto;

        .wimg {
            width: 350px;
            height: 250px;
            position: relative;

            img {
                height: 100%;
                width: 100%;
            }

            .red {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                width: 350px;
                height: 250px;
                opacity: 0;
                background: #23acc4;

                .text {
                    // box-shadow: 0 0 5px 100px inset;
                    // border-radius: 200px;
                    position: relative;
                    // background: red;
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: hertica;
                    cursor: pointer;
                    // font-weight: 100;
                    // border-radius: 50%;
                    // left: 50%;
                    // top: 50%;

                }

                .red2 {
                    width: 150px;
                    height: 150px;
                    position: relative;
                    display: flex;
                    top: 50px;
                    left: 100px;
                    background-color: #c70039;
                    justify-content: center;
                    text-align: center;
                    border-radius: 150px;
                    color: #fff;
                }
            }
        }

        .wimg:hover .red {
            opacity: 1;
            transition: 0.5s ease-in-out;

            cursor: pointer;
        }
    }
}

@media screen and (min-width:1px) and (max-width:426px) {
    .work {


        .tittle {
            margin: 50px 0 0 0;
            font-size: 25px;
        }

        .subHeading {
            font-size: 15px;
            margin: -5px 0 15px 0;
        }

        .content {
            display: block;

            .wimg {
                .red {
                    width: 310px;
                    height: 210px;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    // padding: 0 20px 20px 0;

                    .red2 {
                        top: 15%;
                        left: 25%;
                    }

                }
            }

            .wimg:nth-child(even) {
                .red {
                    width: 310px;
                    height: 210px;
                    position: absolute;
                    top: 0px;
                    left: 20px;
                    // padding: 0 20px 20px 0;

                    .red2 {
                        top: 15%;
                        left: 25%;
                    }

                }
            }

            .img1 {
                padding: 20px;


            }

            .img2 {
                padding: 0 20px;
                height: auto;

                img {
                    height: 210px;
                }
            }

            .img3 {
                padding: 20px;
            }

            .img4 {
                padding: 0 20px;
                height: auto;

                img {
                    height: 210px;
                }
            }

            .img5 {
                padding: 20px;
            }

            .img6 {
                padding: 0 20px 40px 20px;
                height: auto;

                img {
                    height: 210px;
                }
            }

        }
    }
}

@media screen and (min-width:1px) and (max-width:325px) {
    .work {

        .content {
            .wimg {
                width: 100%;
                height: auto;

                img {
                    height: 180px;
                }

                .red {
                    width: 280px;
                    height: 180px;
                }


            }

            .img6 {
                padding: 0 20px 10px 20px;
            }

            .wimg:nth-child(even) {
                .red {
                    width: 280px;
                    height: 180px;
                }
            }
        }
    }
}

@media screen and (min-width:600px) and (max-width:770px) {
    .mywork {
        height: 94.8vh;
        background: #000000;

        .work {
            padding: 80px 0 0 0;



            .tittle {
                font-size: 30px;
            }

            .subHeading {
                font-size: 18px;
            }

            .content {
                .wimg {
                    width: 200px;
                    height: 150px;

                    .red {
                        width: 200px;
                        height: 150px;

                        .red2 {
                            width: 80px;
                            height: 80px;
                            font-size: 10px;
                            left: 30%;

                            top: 25%;
                        }
                    }
                }
            }
        }
    }
}