::-webkit-scrollbar {
    width: 1px;
    /* height: 50px; */
}

/* Track (the area behind the scrollbar) */
::-webkit-scrollbar-track {
    background: black; /* Light grey */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background:orangered; /* Dark grey */
}


/* body{
    overflow-x: hidden;
} */
