@import url("/src/assests//font/font.css");
.contact {
  background: #000000;
  height: 95vh;
}
.contact .Ccontent {
  padding: 17px 0 0 0;
  height: 90%;
}
.contact .Ccontent .left {
  height: 90%;
}
.contact .Ccontent .left .content {
  padding: 50px 0 0 100px;
}
.contact .Ccontent .left .content .tittle {
  color: cyan;
  font-size: 60px;
  font-family: hertica;
  margin: 0 0 5px 0;
}
.contact .Ccontent .left .content .text {
  color: #ffffff;
  font-family: mandala;
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 25px 0;
  width: 93%;
}
.contact .Ccontent .left .content input {
  border: none;
  background: rgba(130, 130, 130, 0.2196078431);
  font-size: 25px;
  font-family: mandala;
  caret-color: red;
  padding: 0 0 0 10px;
  color: #ffffff;
}
.contact .Ccontent .left .content input:focus {
  outline: none;
  border-bottom: 3px solid cyan;
}
.contact .Ccontent .left .content .name {
  width: 270px;
  height: 50px;
}
.contact .Ccontent .left .content .name:placeholder {
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
}
.contact .Ccontent .left .content .email {
  width: 273.2px;
  margin: 0 0 0 10px;
  height: 50px;
  background: rgba(130, 130, 130, 0.2196078431);
}
.contact .Ccontent .left .content .subject {
  height: 60px;
  width: 86%;
  margin: 15px 0;
}
.contact .Ccontent .left .content textarea {
  background: rgba(130, 130, 130, 0.2196078431);
  border: none;
  width: 86%;
  height: 100px;
  min-height: 100px;
  max-height: 150px;
  font-size: 25px;
  font-family: mandala;
  caret-color: red;
  padding: 0 0 0 10px;
  color: #ffffff;
}
.contact .Ccontent .left .content textarea:focus {
  outline: none;
  border-bottom: 3px solid cyan;
}
.contact .Ccontent .left .content .submit {
  width: 250px;
  height: 60px;
  margin: 25px 0px 0 0;
  background-color: transparent;
  color: cyan;
  border: 1px solid cyan;
  font-family: mandala;
  font-size: 30px;
  transition: ease-out 0.8s;
}
.contact .Ccontent .left .content .submit:hover {
  box-shadow: inset 400px 0 0 0 cyan;
  color: #000000;
  font-size: 35px;
}
.contact .Ccontent .right iframe {
  height: 100%;
  padding: 50px 0;
  background: #000000;
  filter: sepia();
  touch-action: pinch-zoom;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
  .contact {
    height: 100%;
  }
  .contact .Ccontent {
    padding: 50px 20px 0 20px;
    display: block;
  }
  .contact .Ccontent .left .content {
    padding: 0;
  }
  .contact .Ccontent .left .content .tittle {
    font-size: 35px;
    text-align: center;
  }
  .contact .Ccontent .left .content .text {
    padding: 20px 0 0 10px;
    margin: 0;
    width: 100%;
    font-size: 20px;
  }
  .contact .Ccontent .left .content form {
    text-align: center;
    padding: 30px 30px 80px 30px;
  }
  .contact .Ccontent .left .content form .name {
    width: 100%;
  }
  .contact .Ccontent .left .content form .email {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .contact .Ccontent .left .content form .subject {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .contact .Ccontent .left .content form .textarea {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .contact .Ccontent .left .content form .submit {
    text-align: center;
    justify-content: center;
  }
  .contact .Ccontent .right iframe {
    width: 100%;
    height: 600px;
    padding: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 770px) {
  .contact {
    height: 100%;
  }
  .contact .Ccontent {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 50px;
  }
  .contact .Ccontent .left {
    width: 70%;
  }
  .contact .Ccontent .left .content {
    padding: 0;
  }
  .contact .Ccontent .left .content .tittle {
    font-size: 25px;
  }
  .contact .Ccontent .left .content .text {
    font-size: 15px;
    line-height: normal;
  }
  .contact .Ccontent .left .content form input {
    font-size: 15px;
  }
  .contact .Ccontent .left .content form .email {
    margin: 0;
    width: 80%;
    height: 50px;
  }
  .contact .Ccontent .left .content form .name {
    width: 80%;
    height: 50px;
    margin: 0 0 10px 0;
  }
  .contact .Ccontent .left .content form .subject {
    width: 80%;
    height: 50px;
  }
  .contact .Ccontent .left .content form .textarea {
    width: 80%;
    font-size: 15px;
  }
  .contact .Ccontent .left .content form .submit {
    margin: 10px 0 0 0;
    width: 170px;
    height: 50px;
    font-size: 20px;
  }
  .contact .Ccontent .right {
    height: 100%;
    width: 400px;
  }
  .contact .Ccontent .right iframe {
    width: 300px;
    height: 100%;
  }
}/*# sourceMappingURL=contact.css.map */