@import url("/src/assests//font/font.css");
.Tdata {
  height: 100vh;
  padding: 50px;
  /* background: rgb(247, 247, 250); */
}
.Tdata .timeline {
  position: relative;
  height: 80vh;
  display: flex;
  width: 100%;
}
.Tdata .timeline .timeline-item {
  /* background: cadetblue; */
  display: block;
  width: 100%;
  height: 100%;
}
.Tdata .timeline .item1 {
  margin-left: 150px;
}
.Tdata .timeline .item1 .top {
  height: 50%;
  width: 100%;
}
.Tdata .timeline .item1 .top .timeline-tittle {
  font-size: 25px;
  margin: 0 0 20px 0;
  /* color: #c700388e; */
  color: rebeccapurple;
  font-weight: bolder;
  font-family: hertica;
}
.Tdata .timeline .item1 .top .timeline-details {
  display: flex;
}
.Tdata .timeline .item1 .top .timeline-details .timeline-no {
  padding: 0 0px 0 0px;
  margin: 0 20px 0 0;
  font-size: 30px;
  color: rebeccapurple;
  font-weight: bolder;
  font-family: hertica;
}
.Tdata .timeline .item1 .top .timeline-details .timeline-no::after {
  margin: 0 0 0 10px;
  width: 10px;
  left: 191px;
  top: 45px;
  height: 10px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #ffffff;
  z-index: 454;
  /* margin: 0 0 0 5px; */
}
.Tdata .timeline .item1 .top .timeline-details .timeline-data {
  padding: 0 0 0 10px;
}
.Tdata .timeline .item1 .top .timeline-details .timeline-data .text {
  font-size: 25px;
  padding-left: 15px;
  font-family: mandala;
  color: antiquewhite;
}
.Tdata .timeline .item1 .top .timeline-details .timeline-data .timeline-date {
  padding-left: 15px;
  margin-top: 25px;
  font-size: 25px;
  color: rebeccapurple;
  font-weight: bolder;
  font-family: hertica;
}
.Tdata .timeline .item1 .top .timeline-details .timeline-data::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 220px;
  background: #ffffff;
  top: 54px;
  left: 195px;
  margin: 0 0 0 10px;
}
.Tdata .timeline .item1 .center {
  position: relative;
  top: -6%;
}
.Tdata .timeline .item1 .center .icon .hardwork {
  position: absolute;
  top: 0px;
  left: 12px;
  z-index: 1;
  overflow: hidden;
  background: blueviolet;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
}
.Tdata .timeline .item1 .bottom {
  height: 50%;
}
.Tdata .timeline .item1 .bottom .profile {
  width: 100px;
  position: relative;
  padding: 15px;
  top: 30%;
  left: 40%;
  border: 2px solid #ffffff;
  border-radius: 100%;
  background: #ffffff;
}
.Tdata .timeline .item1 .bottom::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  width: 2px;
  height: 146px;
  /* top: 74%; */
  left: 14%;
}
.Tdata .timeline .item1 .bottom::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background: #ffffff;
  top: 74.2%;
  left: 200px;
}
.Tdata .item2 {
  margin-left: 50px;
  height: 500px;
  position: relative;
}
.Tdata .item2 .top {
  display: block;
  position: relative;
  display: block;
  height: 50%;
}
.Tdata .item2 .top .icon {
  width: 70px;
  height: 70px;
}
.Tdata .item2 .top .icon .profile {
  width: 100px;
  height: 100px;
  position: relative;
  padding: 15px;
  top: 40px;
  left: 50%;
  border: 2px solid #ffffff;
  border-radius: 100%;
  background: #ffffff;
}
.Tdata .item2 .top .icon .hardwork::after {
  position: absolute;
  content: "";
  background: white;
  width: 2px;
  height: 110px;
  left: 49%;
  top: -137%;
}
.Tdata .item2 .center .icon .hardwork {
  position: absolute;
  top: 260px;
  left: 65px;
  z-index: 1;
  overflow: hidden;
  background: blueviolet;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
}
.Tdata .item2 .center::before {
  position: absolute;
  width: 100px;
  height: 2px;
  content: "";
  background: #ffffff;
  left: 25.7%;
  top: 15%;
}
.Tdata .item2 .top::before {
  position: absolute;
  content: "";
  background: #ffffff;
  left: 100px;
  top: 30.2%;
  width: 2px;
  height: 190px;
}
.Tdata .item2 .bottom {
  height: 50%;
}
.Tdata .item2 .bottom .timeline-details {
  display: flex;
  margin: 80px 0 0 0;
}
.Tdata .item2 .bottom .timeline-details .timeline-data {
  position: relative;
  padding-left: 15px;
}
.Tdata .item2 .bottom .timeline-details .timeline-data .timeline-date {
  padding-left: 15px;
  margin-top: 25px;
  font-size: 25px;
  /* color: #c700388e; */
  color: rebeccapurple;
  font-weight: bolder;
  font-family: hertica;
}
.Tdata .item2 .bottom .timeline-details .timeline-data .text {
  font-size: 25px;
  padding-left: 15px;
  font-family: mandala;
  color: antiquewhite;
}
.Tdata .item2 .bottom .timeline-details .timeline-data::before {
  position: absolute;
  width: 2px;
  height: 180px;
  content: "";
  top: -50px;
  left: 0%;
  background: #ffffff;
}
.Tdata .item2 .bottom .timeline-details .timeline-no {
  /* font-size: 30px; */
  text-align: end;
  margin: 87px 0px 0 47px;
  font-size: 30px;
  padding: 0 10px 0 0;
  /* color: #c700388e; */
  color: rebeccapurple;
  font-weight: bolder;
  font-family: hertica;
}
.Tdata .item2 .bottom .timeline-details .timeline-no::after {
  width: 10px;
  left: 24%;
  top: 85%;
  height: 10px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #ffffff;
  z-index: 454;
  /* margin: 0 0 0 5px; */
}
.Tdata .item2 .bottom .timeline-tittle {
  padding: 0px 0 0 50px;
  font-size: 25px;
  /* margin: 0 0 20px 0; */
  /* color: #c700388e; */
  color: rebeccapurple;
  font-weight: bolder;
  font-family: hertica;
}
.Tdata .item3 {
  margin-left: 50px;
}
.Tdata .item3 .top {
  height: 50%;
  width: 100%;
}
.Tdata .item3 .top .timeline-tittle {
  font-size: 25px;
  margin: 0 0 20px 0;
  /* color: #c700388e; */
  color: rebeccapurple;
  font-weight: bolder;
  font-family: hertica;
}
.Tdata .item3 .top .timeline-details {
  display: flex;
}
.Tdata .item3 .top .timeline-details .timeline-no {
  padding: 0 0 0 0px;
  margin: 0 20px 0 0;
  font-size: 30px;
  color: rebeccapurple;
  font-weight: bolder;
  font-family: hertica;
}
.Tdata .item3 .top .timeline-details .timeline-no::after {
  width: 10px;
  left: 76.3%;
  top: 45px;
  height: 10px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #ffffff;
  z-index: 454;
}
.Tdata .item3 .top .timeline-details .timeline-data {
  padding: 0 0 0 10px;
}
.Tdata .item3 .top .timeline-details .timeline-data .text {
  font-size: 25px;
  padding-left: 15px;
  font-family: mandala;
  color: antiquewhite;
}
.Tdata .item3 .top .timeline-details .timeline-data .timeline-date {
  padding-left: 15px;
  margin-top: 25px;
  font-size: 25px;
  color: rebeccapurple;
  font-weight: bolder;
  font-family: hertica;
}
.Tdata .item3 .top .timeline-details .timeline-data::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 220px;
  background: #ffffff;
  top: 54px;
  left: 76.6%;
}
.Tdata .item3 .center {
  position: relative;
  top: -9%;
}
.Tdata .item3 .center .icon .hardwork {
  position: absolute;
  top: 20px;
  left: 24px;
  z-index: 1;
  overflow: hidden;
  background: blueviolet;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
}
.Tdata .item3 .center .icon .hardwork::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 80px;
  background: #ffffff;
  top: 100px;
  left: 0%;
}
.Tdata .item3 .bottom {
  height: 50%;
}
.Tdata .item3 .bottom .profile {
  width: 100px;
  position: relative;
  padding: 15px;
  top: 30%;
  left: 40%;
  border: 2px solid #ffffff;
  border-radius: 100%;
  background: #ffffff;
}
.Tdata .item3 .bottom::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  width: 2px;
  height: 110px;
  top: 56%;
  left: 76.6%;
}
.Tdata .item3 .bottom::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: #ffffff;
  top: 74.2%;
  left: 76.6%;
}

.timeline::after {
  position: absolute;
  content: "";
  background: #ffffff;
  left: 0;
  top: 50%;
  width: 100%;
  height: 5px;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  *::after,
  *::before {
    display: none;
  }
  .Tdata {
    height: 120vh;
    padding: 40px 20px;
  }
  .Tdata .timeline {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .Tdata .timeline .item1 {
    height: 100%;
    display: flex;
    margin: 0;
    height: 250px;
    padding: 30px 0 20px 0;
  }
  .Tdata .timeline .item1 .left {
    float: left;
    left: 0;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-end;
  }
  .Tdata .timeline .item1 .left .timeline-tittle {
    font-size: 18px;
  }
  .Tdata .timeline .item1 .left .timeline-details .timeline-no {
    margin: 0;
    widows: 20%;
    font-size: 15px;
  }
  .Tdata .timeline .item1 .left .timeline-details .timeline-data .text {
    font-size: 15px;
    padding: 0;
    width: 90%;
  }
  .Tdata .timeline .item1 .left .timeline-details .timeline-data .timeline-date {
    font-size: 15px;
  }
  .Tdata .timeline .item1 .center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .Tdata .timeline .item1 .center .icon {
    background: blueviolet;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    z-index: 12;
  }
  .Tdata .timeline .item1 .center .icon .hardwork {
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .Tdata .timeline .item1 .right {
    float: right;
    width: 45%;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .Tdata .timeline .item1 .right .profile {
    width: 50%;
    background: #ffffff;
    padding: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
  }
  .Tdata .timeline .item2 {
    display: flex;
    margin: 0;
    height: 250px;
  }
  .Tdata .timeline .item2 .left {
    width: 45%;
    height: 100%;
  }
  .Tdata .timeline .item2 .left .icon .profile {
    width: 50%;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    align-items: center;
    width: 50%;
    background: #ffffff;
    padding: 20px;
    border-radius: 50%;
  }
  .Tdata .timeline .item2 .center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .Tdata .timeline .item2 .center .icon {
    background: blueviolet;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    z-index: 12;
  }
  .Tdata .timeline .item2 .center .icon .hardwork {
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .Tdata .timeline .item2 .right {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .Tdata .timeline .item2 .right .timeline-details {
    margin: 0;
  }
  .Tdata .timeline .item2 .right .timeline-details .timeline-no {
    padding: 0;
    margin: 0;
    font-size: 15px;
  }
  .Tdata .timeline .item2 .right .timeline-details .timeline-data .timeline-date {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  .Tdata .timeline .item2 .right .timeline-details .timeline-data .text {
    font-size: 15px;
    padding: 0;
  }
  .Tdata .timeline .item2 .right .timeline-tittle {
    font-size: 18px;
    padding: 0 0 0 25px;
  }
  .Tdata .timeline .item3 {
    display: flex;
    margin: 0;
    height: 250px;
    padding: 20px 0 50px 0;
  }
  .Tdata .timeline .item3 .left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .Tdata .timeline .item3 .left .timeline-tittle {
    font-size: 18px;
  }
  .Tdata .timeline .item3 .left .timeline-details .timeline-no {
    font-size: 15px;
    margin: 0;
  }
  .Tdata .timeline .item3 .left .timeline-details .timeline-data {
    height: 100%;
  }
  .Tdata .timeline .item3 .left .timeline-details .timeline-data .text {
    margin: 0;
    padding: 0;
    font-size: 15px;
    width: 90%;
  }
  .Tdata .timeline .item3 .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Tdata .timeline .item3 .center .icon {
    width: 50px;
    height: 50px;
    background: blueviolet;
    border-radius: 50%;
    z-index: 124;
  }
  .Tdata .timeline .item3 .center .icon .hardwork {
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .Tdata .timeline .item3 .right {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .Tdata .timeline .item3 .right .profile {
    width: 90px;
    height: 90px;
    top: 0;
    left: 0;
  }
  .Tdata .timeline::after {
    content: "";
    width: 2px;
    height: 100%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 0;
    background: #ffffff;
  }
}
@media screen and (min-width: 1px) and (max-width: 325px) {
  .text {
    font-size: 10px !important;
  }
}/*# sourceMappingURL=road.css.map */