@font-face {
    font-family: amelinda;
    src: url(../font/amelinda/Amelinda.ttf);
}

@font-face {
    font-family: hertica;
    src: url(../font/Hertical_Sans_Regular/Hertical\ Sans\ Regular.otf);
}

@font-face {
    font-family: mandala;
    src: url(./mandala_handmade_2/Mandala\ Handmade.otf);
}

@font-face {
    font-family: monoton;
    src: url(./rambors-font/Monoton-RXOM.ttf);
}

@font-face {
    font-family: GeometricPetras;
    src: url(GeometricPetras.ttf);
}