@import url("./style.css");
@import url("./scrollBar.css");
/* font */

@font-face {
  font-family: ganeta;
  src: url("./assets//font/Ganeta/Ganeta.otf");
}
@font-face {
  font-family: ganeta2;
  src: url("./assets//font/Ganeta/Ganeta.ttf");
}
@font-face {
  font-family: frosty;
  src: url("./assets//font/frosty/Frosty-Regular.ttf");
}
@font-face {
  font-family: avant;
  src: url("./assets/font/avant-garde/Avantgarde-Bold.otf");
}

@font-face {
  font-family: hertical;
  src: url(".//assets//font/hertical/Hertical\ Sans.otf");
}
@font-face {
  font-family: mandala;
  src: url(".//assets//font/hertical/Mandala\ In\ Autumn.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.experience{
  background: url("./assets/images/work-1600.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
}
.moto {
  background: url("./assets/images/banner-bottom-1600.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

}
